header {
    background-color: #000000;
    padding:20px 0;
}

.caixa-weon {
    position: relative;
    width: 750px;
    margin: 0 auto;
}

h1 {
    margin: 10px auto;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}


.formulario {
    width: 250px;
    margin: 10px auto;
    text-align: center;
    box-sizing: border-box;
    border: 2px solid #000000;
    padding: 20px 10px 20px;
    
}

.formulario label{
    margin-top: 15px;
    font-size: 16px;
    text-align: center;
    display: block;
    font-weight: bold;
}

.enviar {
    margin-top: 5px;
    width: 200px;
    padding: 10px 0;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    background-color: red;
    cursor: pointer;
}

.enviar:hover {
    color: blue;
    background-color: aqua;

}

.copyright {
    text-align: center;
}

.centralizadamaster {
    text-align: center;
}

